@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;900&display=swap');

html{
    --c-main:  #E0F6FF;
    --c-text: #000000;
    --c-1: #87CEEB;
    --c-2: #00BFFF;
    --c-3: #1E90FF;
}

body{
    background: var(--c-main);
    font-family: Poppins;
}

body.dark-mode{
    --c-main: #313866;
    --c-text: #FFF;
    --c-1: #50409A;
    --c-2: #FF7BBF;
    --c-3: #964EC2;
}


h1{
    color: var(--c-text);
}

hr{
    border: 1px solid var(--c-1);
}

button{
    -webkit-appearance: none;
    appearance: none;
    height: 40px;
    width: 75px;
    background: var(--c-2);
    color: var(--c-text);
    position: absolute;
    /* right: 0; */
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

button:after{
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #ffffff;
    top: 3.5px;
    left: 5px;
    border-radius: 50%;
}

button:hover{
    background: var(--c-3);
}

.dark-mode button{
    background-color: var(--c-2);
}

.dark-mode button:after{
    background-color: transparent;
    box-shadow: 10px 10px #15181f;
    top: -7px;
    left: 25px;
}

.dark-mode button:hover{
    background: var(--c-3);
}